---
import { Toaster } from '@/components/ui/sonner';
import { SEO } from 'astro-seo';

interface Props {
    seo: {
        title?: string;
        description: string;
        languageAlternates?: {
            hrefLang: string;
            href: string;
        }[];
        ogLocale: string;
        ogLocaleAlternate?: string[];
    };
}

const { seo } = Astro.props;
const title = seo.title ?? 'Journey - Mathis Engels';
const image = new URL('/og-image.webp', Astro.url).toString();
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <head>
        <SEO
            title={title}
            description={seo.description}
            charset="UTF-8"
            languageAlternates={seo.languageAlternates}
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: image,
                },
                image: {
                    alt: "Mathis Engels's logo",
                },
                optional: {
                    description: seo.description,
                    locale: seo.ogLocale,
                    localeAlternate: seo.ogLocaleAlternate,
                    siteName: 'Journey - Mathis Engels',
                },
            }}
            twitter={{
                card: 'summary',
                creator: '@mathisengels',
                title: title,
                image: image,
                imageAlt: "Mathis Engels's logo",
                description: seo.description,
            }}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <script is:inline defer data-domain="journey.mathisengels.fr" src="https://plausible.mathisengels.fr/js/script.js"></script>
    </head>
    <body>
        <main class="h-[100dvh]">
            <slot />
        </main>
        <Toaster client:idle />
    </body>
</html>
